
@import '../../node_modules/semantic-ui-less/semantic.less';

@type    : 'global';
@element : 'site';

@import (multiple) '../../node_modules/semantic-ui-less/theme.config';

/*Local vars*/
@sidebar : #161616;
@sidebarWidth: 250;
