
@import '../../node_modules/semantic-ui-less/semantic';

@type    : 'global';
@element : 'site';

@import (multiple) '../../node_modules/semantic-ui-less/theme.config';

/*Local vars*/
@sidebar : #161616;
@background: #F5F7FA;
@sidebarWidth-M: 110;
@sidebarWidth-L: 200;
@headerHeight-S: 45;
@headerHeight-M: 55;


body {
  background-color: @background;
}

#root {
  &:extend(.full-height);
}

// Login
#login {
  height: 100%;

  .column {
    max-width: 450px;
  }
}

.full-height {
  height: 100%;
}

// Main
.main-content {

  &::before {
    display: none;
    content: 'mobile';
  }

  @media only screen and (min-width: @tabletBreakpoint) {
    .content-wrapper {
      margin-left: unit(@sidebarWidth-M, px);
    }

    &::before {
      display: none;
      content: 'tablet';
    }
  }

  @media only screen and (min-width: @computerBreakpoint) {
    .content-wrapper {
      margin-left: unit(@sidebarWidth-L, px);
    }

    &::before {
      display: none;
      content: 'desktop';
    }
  }

}

// Header
.main-header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;

	height: @headerHeight-S;
	width: 100%;

	background: @sidebar;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

	@media only screen and (min-width: @tabletBreakpoint) {
		position: fixed;
		height: @headerHeight-M;
	}
}
